<ion-list lines="none" class="container">
  <form (ngSubmit)="onAdd()">
    <ion-item class="ion-align-items-center">
      <ion-icon name="information-circle-outline" slot="start"></ion-icon>
      <ion-label position="floating">
        Marca (opcional)
      </ion-label>
      <ion-input type="text" name="trademark" [(ngModel)]="trademark" #inputTrademark (keyup.arrowdown)="inputPrice.setFocus()"></ion-input>
    </ion-item>
    <ion-item class="ion-align-items-center">
      <ion-icon name="cash-outline" slot="start"></ion-icon>
      <ion-label position="floating">
        Preço
      </ion-label>
      <ion-input inputmode="numeric" [brmasker]="{money: true, thousand: '.',  decimalCaracter: ',', decimal: 2}" name="priceStr" [(ngModel)]="priceStr"  #inputPrice (keyup.arrowup)="inputTrademark.setFocus()" (keyup.arrowdown)="inputQuantity.setFocus()"></ion-input>
    </ion-item>


    <ion-item class="ion-align-items-center">
      <ion-icon name="layers-outline" slot="start"></ion-icon>
      <ion-label position="floating">
        Quantidade
      </ion-label>
      <ion-input inputmode="numeric" name="quantity" [(ngModel)]="quantity" #inputQuantity (keyup.arrowup)="inputPrice.setFocus()"></ion-input>
    </ion-item>

    <input type="submit" hidden />

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="warning" (click)="onAdd()">
        <ion-icon name="calculator-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-list>

<ion-item class="container ion-text-center" *ngIf="products?.length == 0" lines="none">
  <ion-label class="ion-text-wrap" color="medium">Informe preço e quantidade. Depois, clique no botão acima</ion-label>
</ion-item>

<ion-item color="success" class="container ion-align-items-center" lines="none" *ngIf="theBestOne">
  <ion-icon name="trophy-outline" slot="start"></ion-icon>
  <ion-label class="thebestone">
    {{theBestOne.trademark}}
  </ion-label>
  <ion-label slot="end" color="light" class="thebestone">
    R$ {{theBestOne.pricePerUnit | number:'1.2-2'}}
  </ion-label>
</ion-item>


<ion-list class="container" lines="none" *ngIf="products?.length > 0">
  <ion-item *ngFor="let p of products; let i = index;">
    <ion-icon name="chevron-forward-circle-outline" slot="start"></ion-icon>
    <ion-label class="ion-text-wrap">
      {{p.trademark}}
    </ion-label>
    <ion-note slot="end">
      R$ {{p.pricePerUnit | number:'1.2-2'}}
    </ion-note>
    <ion-button slot="end" fill="clear" size="small" color="medium" (click)="onRemove(i)">
      <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
    </ion-button>

  </ion-item>

</ion-list>