ion-content {
    --background: var(--ion-color-light);
  }
  
  ion-button {
    --box-shadow: none;
    margin: 5px;
  }
  
  .container {
    border-radius: 20px;
    margin: 12px;
    background-color: var(--ion-color-tertiary);
  }

  .footer {
    --background: transparent;
    --color: var(--ion-color-dark);
  }
  
  .thebestonetext {
    font-size: larger;
  }
  
  .thebestonecontainer {
    border: 2px solid black;
    border-radius: 20px;
    margin: 12px;
    background-color: var(--ion-color-tertiary);
  }
  
  .title {
    font-weight: bold;
    letter-spacing: 0.4em;
    text-transform: uppercase;
  }

    ion-img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }